<div style="display: none" id="tree"></div><!--影藏div用于创建树-->
<div class="sidebar-shortcuts" id="sidebar-shortcuts">
    <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
        <button class="btn btn-success">
            <i class="ace-icon fa fa-signal"></i>
        </button>

        <button class="btn btn-info">
            <i class="ace-icon fa fa-pencil"></i>
        </button>

        <button class="btn btn-warning">
            <i class="ace-icon fa fa-users"></i>
        </button>

        <button class="btn btn-danger">
            <i class="ace-icon fa fa-cogs"></i>
        </button>
    </div>

    <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
        <span class="btn btn-success"></span>

        <span class="btn btn-info"></span>

        <span class="btn btn-warning"></span>

        <span class="btn btn-danger"></span>
    </div>
</div><!-- /.sidebar-shortcuts -->

<ul class="nav nav-list" id="sidebar-menu">
    <li data-level="1" v-for=" r in resources">

        <a
                :href="r.url" class="dropdown-toggle"
                :haschild="r.children!=undefined&&r.children.length>0?'true':'false'"
                @click="changeArrow(r)"
        >
            <i class="menu-icon " :class="r.icon"></i>
            <span class="menu-text"
                  style="vertical-align: middle;"
            > {{r.name}} </span>
            <b class="arrow " :class="r.arrow?'fa fa-angle-up':'fa fa-angle-down'" ></b>
        </a>
        <b class="arrow"></b>

        <ul class="submenu nav-hide" v-if="r.children!=undefined&&r.children.length>0">
            <li data-level="2" v-for="child in r.children">

                <a
                        :href="child.url"
                        :id="'menu_'+child.id"
                        :haschild="child.children!=undefined&&child.children.length>0?'true':'false'"
                >
                    <i class="menu-icon" :class="child.icon"></i>
                    <span class="menu-text"
                    > {{child.name}} </span>
                </a>
                <b class="arrow"></b>

            </li>
        </ul>
    </li>

</ul><!-- /.nav-list -->
<div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
    <i class="ace-icon fa fa-angle-double-left" data-icon1="ace-icon fa fa-angle-double-left"
       data-icon2="ace-icon fa fa-angle-double-right"></i>
</div>

<script>
    var vside = new Vue({
        el: '#sidebar-menu',
        data: {
            resources: {}
        },
        methods: {
            getResource: function () {
                if (localStorage.getItem("loginUser") != undefined && localStorage.getItem("loginUser") != null) {
                    this.resources = JSON.parse(localStorage.getItem("loginUser")).resourceList;
                    let setting = {
                        data: {
                            simpleData: {
                                enable: true,
                                pIdKey: 'parentId'
                            }
                        }
                    }
                    let zTreeObj = $.fn.zTree.init($('#tree'),setting,this.resources);

                    this.resources = zTreeObj.getNodes();

                    for (let i in this.resources) {
                        Vue.set(this.resources[i],'arrow',false);
                    }
                    // debugger;
                    $.fn.zTree.destroy('tree');//销毁树对象
                }
            },
            changeArrow:function (r) {
                r.arrow=!r.arrow;
            }
        },
        created: function () {
            this.getResource();
        }
    })
</script>